@charset "UTF-8"; 

* {
    scroll-behavior: smooth;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    background-color: #15142b;
    background-attachment: fixed;
    flex-wrap: nowrap;
    background-position: center center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #4d0707, #bd0404);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}

header, section {
    max-width: 700px;
}

header > h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-shadow: 3px 3px 0px black;
}

section {
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
    background-color: white;
    margin-bottom: 20px;
    transform: scale(1);
}

h2, h3, h4 {
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    border-bottom: 1px solid transparent;
    font-weight: 600;
    transition: color 0.3s ease;
    color: #15142b;
    padding: 0 3px;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #848290;
    color: #848290;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.return-button {
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    background: linear-gradient(145deg, #e50914, #a50710);
    color: #fff;
    box-shadow: 0 4px 10px rgba(229, 9, 20, 0.3);
    transition: all 0.3s ease;
    border: 2px solid #e50914;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    padding: 12px 24px;
    text-transform: uppercase;
    transform: scale(1);
}

.return-button:hover {
    background: #101010;
    transition: transform 0.2s ease;
    color: #e50914;
    box-shadow: 0 0 15px rgba(229, 9, 20, 0.6);
    border-color: #e50914;
    transform: scale(1.05);
}